.body{
  background-color: #fefefe;
}

button{
  text-align: center;
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;
  color: #333333;
  cursor: pointer;
  font-family: "Times New Roman";
  font-weight: normal; 
  list-style: none;
  height: 10%;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  padding-top: 5px;
  padding-bottom:5px;
}

.toggle {
  height:100%;
  width:60%;
  margin-left: 5%;
  border-bottom-left-radius: 13px;
  border-top-left-radius: 13px;
  text-align:center;
  margin-right: 5%;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
  color: #333333;
  flex-grow:10;
  flex-shrink:2.5
}



.left_arrow_btn{
  height:100%;
  width:40%;
  margin-left: 5%;
  padding: 2px;
  border-bottom-left-radius: 13px;
  font-size: 115%;
  border-top-left-radius: 13px;
  margin: auto;
  flex-grow:4;
  flex-shrink:1;
  text-align: center;
}


.right_arrow_btn{
  height:100%;
  width:40%;
  padding: 2px;
  font-size: 115%;
  margin: auto;
  margin-right: 5%;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 13px;
  flex-grow:4;
  flex-shrink:1;
  text-align: center;
}


h1 {
  font-family: "Times New Roman";
  font-weight: normal; 
  font-weight: normal; 
  font-weight: normal; 
  font-size: 40px;
  color: #333333;
  text-align: center;
  margin: 5px;
  margin-top: 0px
}

h2 {
  font-family: "Times New Roman";
  font-weight: normal; 
  font-size: 20px;
  color: #333333;
  text-align: center

}

h3 {
  font-family: "Times New Roman";
  font-weight: normal; 
  font-size: 20px;
  color: #333333;
  text-align: center;
  margin: 0px
}
#Event-Tbl{
  width:65%;
  font-size:20px
}

#Time-Tbl{
  width:30%;
  font-size:16px
}


#Loc-Tbl{
  width:5%;
  font-size:16px
}

#daytext{
  height:100%;
  font-family: "Times New Roman";
  font-weight: normal; 
  color: #333333;
  text-align: center;
  flex-grow:10;
  flex-shrink:10;
}

#gradetext{
  height:100%;
  font-family: "Times New Roman";
  font-weight: normal; 
  color: #333333;
  text-align: center;
  flex-grow:10;
  flex-shrink:10
}

#housetext{
  height:100%;
  font-family: "Times New Roman";
  font-weight: normal; 
  color: #333333;
  text-align: center;
  flex-grow:10;
  flex-shrink:2.5
}

span{
  width:60%;
  display:flex;
  flex-grow:1;
  flex-shrink: 1;
}
  
.center-btn{
  margin-top:10px;
  margin-bottom:10px;
  display:flex;
}

.center-tbl{
  margin-top:10px;
  margin-bottom:10px;
  margin-left:auto;
  margin-right:auto;
}

table {
  width:95%;
}

/*OPPSETT AV TOP, TOPNAV, SIDENAV, MAIN, RIGHT OG FOOTER:*/

#table-body {
  table-layout: fixed;
  width: 100%;
}

#events-table {
  font-family: "Times New Roman";
  border-collapse: collapse;
  width: 100%;
  padding: 20px;
  color: #333333;
  text-align: center;
}

#events-table td, #events-table th {
  border: 1px solid #000000;
  padding: 8px;
}

.firstrow {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ebebeb;
  color: #333333;}

.distance-from-sides {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:10px;
}
